<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container mt-5">
        <h1>Checkout Details</h1>
        <form (ngSubmit)="insertData(nameInput.value, phoneInput.value, addressInput.value)">
          <div class="form-group">
            <label for="nameInput">Name:</label>
            <input type="text" class="form-control" id="nameInput" name="nameInput" #nameInput required>
          </div>
          <div class="form-group">
            <label for="phoneInput">Phone Number:</label>
            <input type="text" class="form-control" id="phoneInput" name="phoneInput" #phoneInput required>
          </div>
          <div class="form-group">
            <label for="addressInput">Address:</label>
            <textarea class="form-control" id="addressInput" name="addressInput" #addressInput required></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Payment</button>
          
           {{message}}
        </form>
      </div>
      


</body>
</html>
